* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: 'Poppins', sans-serif;
color: #333;
}


.navbar {
position: sticky;
top: 0;
background: #0d47a1;
color: white;
padding: 15px 40px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1000;
}


.navbar nav a {
color: white;
margin-left: 20px;
text-decoration: none;
font-weight: 500;
position: relative;
}


.navbar nav a::after {
content: "";
position: absolute;
bottom: -5px;
left: 0;
width: 0;
height: 2px;
background: white;
transition: 0.3s;
}


.navbar nav a:hover::after {
width: 100%;
}


.hero {
height: 90vh;
background: linear-gradient(135deg, #0d47a1, #1976d2);
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}


.hero h1 {
font-size: 3.5rem;
}


.cta {
margin-top: 20px;
padding: 12px 25px;
background: white;
color: #0d47a1;
border: none;
border-radius: 30px;

}
/* ===== GALERI FOTO ===== */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.gallery img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: 0.4s;
}

.gallery img:hover {
  transform: scale(1.05);
}
.structure-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.member {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.member:hover {
  transform: translateY(-8px);
}

.member img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.member h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.member p {
  font-size: 0.9rem;
  color: #555;
}

/* wali kelas lebih dominan */
.leader {
  border: 3px solid #0077cc;
}


